<h1>スケジュール新規作成</h1>

<% @form_submit_name = "スケジュールを新規登録する" %>
<%= render 'form', task: @task %>

<%= link_to 'スケジュール一覧に戻る', tasks_path %>
<footer>
    <h1>現在の日時：<%= I18n.l(Date.today, format: :long) %></h1>
</footer>